#aboutPage {
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;
    margin: 20px 0;
}
.about-hero-image {
  position: relative;
  width: calc(100% + 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -50px;
}

.about-hero-image img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

.about-hero-image h2 {
  position: absolute;
  text-align: center;
  color: white;
  font-size: 40px;
  line-height: 150%;
}
.about-us {
  font-size: 36px;
  margin-left: 20px;
  line-height: 150%;
}

  