#aboutPage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 600px 500px 500px 250px 400px 220px;
    gap: 50px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.aboutHero {
    width: 100%;
}
.aboutHeroImg {
    height: 600px;
    width: 100%;
    background-image: url(../../assets/Images/aboutHero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.aboutHeroTitle {
    position: absolute;
    top: 35%;
    left: 25%;
    color: #fff;
    font-size: 45px;
    line-height: 150%;
}


@media screen and (max-width:1100px) {
    .aboutHeroTitle{
        top: 17%;
        left: 17%;
    }
  }