#aboutPage {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.aboutHero {
    width: 100%;
    position: relative;
}
.aboutHeroImg {
    height: 500px;
    width: 100%;
    background-image: url(../../assets/Images/aboutHero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.aboutHeroTitle {
    position: absolute;
    top: 35%;
    left: 25%;
    color: #fff;
    font-size: 45px;
    line-height: 150%;
}

  
@media (max-width: 768px) {
  .aboutHeroImg {
      height: 400px; /* Smaller height for smaller screens */
  }
  .aboutHeroTitle {
      font-size: 30px; /* Smaller font size for smaller screens */ 
      top: 35%;
      left: 25%;
      line-height: 100%;
      transform: translate(-50%, -50%); /* Center the title */
  }
} 
  

@media (max-width: 768px) {
  .who-we-are, .our-process, .our-team {
    flex-direction: column;
    align-items: center;
  }

  .vertical-line {
    display: none; /* Hide vertical lines on smaller screens */
  }

  .section {
    padding: 10px; /* Less padding on smaller screens */
  }

  .aboutHeroTitle {
    font-size: 1.5rem; /* Smaller font size for mobile */
  }
}

  