  
  .home-services-section{
    display: flex;
    flex-direction: column;
    grid-row: 3;
    gap: 10px;
    align-items: center;
  }
  .home-services-title{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .home-services-title h2{
    color: #000;
    margin: auto;
text-align: center;
/* Heading/H2 */
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 57.6px */
width: 100%;
border: none;
  }
  
.home-services-title p{
  margin: auto;
  width: 940px;
  color: var(--Black, #000);
text-align: center;

/* Text/Large/Normal */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
}
  
  .home-services-list{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    gap: 50px;
    max-width: 1800px;
  }

  .home-services-list div > h4{
    color: var(--Black, #000);
text-align: center;

/* Heading/H4 */
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 41.6px */
  }

  .home-services-list div > p{
 color: var(--Black, #000);
text-align: center;

/* Text/Large/Normal */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
  }
  
  .home-services-list img{
    width: 100%;
    height: fit-content;
    flex-shrink: 0;
  } 
  
  .home-services-section button{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: transparent;
    margin:30px  auto;
  }


  

.home-services-list div{
    display: flex;
    flex-direction: column;
    width: 290px;
    flex-shrink: 0;
    justify-content: space-around;
    height: 100%;
    gap: 30px;
    align-items: center;
    }

.home-services-list div h3{
    width: 70%;
    margin-bottom: 0;
  }

  .left{
    align-self: center;
  }

  .right{
    align-self: center;
  }


  @media screen and (min-width:1100px) {
 
  }

  @media screen and (min-width: 768px) and (max-width:1099px){
    .home-services-section{
    margin: auto;
    }
    .home-services-title{
      width: 100%;
    }
    .home-services-list{
      flex-direction: column;
      gap: 20px;
    }
    .home-services-list div{
      justify-content: normal;
    }
    .home-services-title p{
      width: auto;
    }
  }
  @media screen and (max-width:767px) {
    .home-services-section{
      width: 311px;
      margin: auto;
    }

    .homes-services-title h2{
      color: var(--Black, #000);
text-align: center;

/* Heading/H4 - Mobile */
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 33.6px */
width: 311px;
border: none;
    }
    .homes-services-title p{
      width: 311px;
      color: var(--Black, #000);

/* Text/Regular/Normal */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
text-align: left;
    }
    .home-services-list{
      flex-direction: column;
    }
    .home-services-list div img{
      width: 311px;
      height: 350px;
    }
    .home-services-list div{
      width:311px;
    }
    .home-services-list div h4{
      color: var(--Black, #000);
text-align: center;

/* Heading/H4 - Mobile */
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 33.6px */
width: 311px;
border: none;
    }
    .home-services-list div p{
      width: 311px;
      color: var(--Black, #000);

/* Text/Regular/Normal */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
text-align: left;
    }  
    .home-services-title h2{
      color: black;
      text-align: center;
      font-family: Roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      border: none;
      width: 311px;
    }
    .home-services-title p{
      width: 311px;
      color: var(--Black, #000);

/* Text/Regular/Normal */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
    }
    .home-services-section button {
      width: 50%;
      padding: 4px 8px;
    }
  }

