#popular-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  height: 250px;
  /* background-color: aqua; */
}
.popular-title {
  text-align: center;
  font-size: 28px;
}

.options-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
  width: 45%;
}
.most-requested {
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.category {
  width: 70%;
}


@media (max-width: 700px) {
  #popular-options {
    flex-direction: column;
    height: auto;
  }
  .popular-title {
    text-align: left;
    padding: 20px 0;
    font-size: 24px;
  }
  .options-container {
    width: 100%;
  }
  .most-requested {
    height: auto;
    margin-bottom: 10px;
  }
}