#popular-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  height: 250px;
  /* background-color: aqua; */
}
.popular-title {
  text-align: center;
  font-size: 28px;
}

.options-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
  width: 45%;
}
.most-requested {
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.category {
  width: 70%;
}




@media (max-width: 760px) {
  .most-and-deals{
    flex-direction: column;
    gap: 10px;
  }
}


@media screen and (min-width:1100px) {
  .most-and-deals{
    gap: 100px;
  }
}