#contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-around;
  padding-left: 40px;
}

#contact-form .name-fields {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.input-field{
  width: 100%;
}

#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

#contact-form textarea {
  height: 225px;
}

#contact-form button {
    width: 152px;
    padding: 8px 12px;
    background: none;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 760px) {
  #contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  #contact-page-contact-form{
    max-width: 100%;
  }
  
  
}
@media (max-width: 600px) {
  #contact-form {
    padding-left: 0; 
  }

  #contact-form .name-fields {
    flex-direction: column; 
    gap: 20px;
  }
}
