#contactInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 50px;
    margin-top: 20px;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 225px;
}
 @media  screen and (max-width:767px) {
    .contact-info p{
        margin: 10px 0px;
        
    }
}