#contactInfo {
  display: grid;
    grid-template-columns: 1fr 1fr;
  width: 100%;
  text-align: center;
}
@media (max-width: 768px) {

  #contactInfo {
    display: grid;
    grid-template-columns: 1fr;
  }
}