#contactUs-container {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 100%;
height: 500px;
}
.contact-info {
    width: 80%;
    padding-bottom: 50px;
}
.contact-title {
    font-size: 48px;
    line-height: 150%;
}



@media (max-width: 767px) {
    #contactUs-container {
        grid-template-columns: 1fr;
        height: auto;
    }
    .contact-info, .contact-title {
        text-align: center;
        width: 100%;
        padding-bottom: 10px;
    }
    .contact-title {
        padding-bottom: 10px;
    }

}
