.contactUs-container {
    font-family: Arial, sans-serif;
    max-width: 1200px; /* Set a max-width for large screens */
    margin: auto; /* Center the container */
    padding: 20px;
}

.contactUs-content {
    display: flex; 
    gap: 20px; 
    justify-content: center; 
    flex-wrap: wrap; /* Ensure content wraps on smaller screens */
}

.contact-info {
    flex: 1 1 300px; /* Flex-grow | Flex-shrink | Flex-basis */
    min-width: 450px; /* Minimum width of the info box */
    text-align: center;
}

.contact-info h2 {
    margin-bottom: 1rem;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-details .detail {
    flex: 1 1 150px;
}

.icon {
    margin-right: 10px;
}


@media (max-width: 767px) {
    .contactUs-container {
        grid-template-columns: 1fr;
        max-width: 400px;
    }
    

    .contact-details .detail, .contact-info {
      
        flex-basis: 90%;
        max-width: 90%;
        justify-self: center;
    }

    .contact-info{
        min-width: 0;
        max-width: 100%;
        text-align: left;
    }
    .contactUs-container{
       
        width: 90%;
        max-width: 80%;
    }
}
