/* Font */
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300&family=Edu+TAS+Beginner:wght@500&family=Handlee&family=Orbitron&display=swap');
 #homepage *{
  font-family: 'Aleo', serif;
  line-height: 150%;
 }
/* Font */

a{
  text-decoration: none;
}

#homepage{
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-rows: 0.7675fr 0.3fr 0.6fr 0.3fr 1.375fr 0.5225fr 0.5338fr 0.5fr;
  gap: 50px;
  margin-top: 10px;
}



  /* Quote code */
  .homepage-quote{
    background: #D9D9D9;
    grid-row: 4;
    text-align: center;
    padding-bottom:10px;
    width: 100%;
    height: 243px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: auto;
    max-width: 1900px;
  }

  .homepage-quote h2{
    color: #000;

    /* Heading/H2 */
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
  }
  
  .homepage-quote button{
    margin: auto;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #000;
    background-color: transparent;
  }


  /* Call to action */
  
  /* Contact info */
  
  .contact-area{
    grid-row: 8;
    display: flex;
    width: 100%;
  }
  
  .contact-google-maps{
    width: 49%;
  }

  .contact-info{
    width:49%;
    text-align: left;
  }

  .contact-hours{
    text-align: left;
  }
  
  .phone-email{
    display: flex;
    width: 95%;
    text-align: left;
  justify-content: space-between;


  }
  
 

/*Queries*/
@media screen and (min-width:1100px){
  #homepage{
   grid-template-rows: 500px 540px 1270px 245px 1fr fit-content(470px) 400px 0.1fr;
  }

}

@media screen and (min-width: 768px) and (max-width:1099px){
  #homepage{
  margin: 0;
    grid-template-rows: 500px 540px 1270px 245px 1fr fit-content(470px) 400px 0.1fr;
  }
 
}

@media screen and (max-width:767px) {
  #homepage{
    grid-template-rows:500px 760px 1fr 350px 0fr fit-content(410px) 400px 0.1fr;
  }
  .homepage-quote{
    width: 395px;
height: 216px;
  }
  .homepage-quote h2{
    width: 311px;
    color: #000;
text-align: center;

/* Heading/H4 - Mobile */
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 33.6px */
border: none;
  }
  .homepage-quote button{
    display: flex;
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 8px;
  }
  .hero-text{
    top:45%;
  }
}

/* Queries */
