*{
  line-height: 150%;
}
.services-section {
  /* display: grid; */
  grid-template-columns: 1fr;
  gap: 20px;
  margin: auto;
  width: 100%;
}

.service-page-service-container{
  width: 80%;
  margin: auto;
  margin-top: 20px ;
}

.mani-and-pedi{
  justify-content: center;
  display: flex;
  gap: 100px;
  flex-direction: row;
}

.heroImage {
  background-image: url(../../assets/Images/img35.png.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 210px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
}
.service-page-hero-text {
  text-align: center;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.call-to-action-item {
  display: grid;
  grid-template-columns: 1fr;

  height: 300px;
  background-color: rgb(146, 142, 136);
}

.heroImage2 {
  width: 64%;
  height: 225px;
}


.white-box{
  z-index: 2;
  position: absolute;
  max-width: 54%;
  width: 54%;
  height: 180px;
  transform: translate(61%,13%);
  margin: auto;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.white-box p{
  z-index: 2;
  position: absolute;
  max-width: 54%;
  width: 54%;
  height: 180px;
  transform: translate(40%,10%);
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.inside-call-to-action{
  display: flex;
    justify-content: left;
    width: 50%;
    position: relative;
    margin: auto;
}

.popular{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 311px;
}



@media screen and (min-width:1100px){
  .service-list{
    flex-direction: column;
    gap: 0px;
  }
  .services-section .service-page-hero-text{
    top: 8%;
  }
}

@media (max-width: 767px) {
  .mani-and-pedi{
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .service-list{
    gap: 0;
  }
  .services-section .service-page-hero-text{
    top: 15%;
  }
}