#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    justify-content: space-between;
    border-top: 2px solid black;
    margin-top: 5px;
}
#footer-items {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.address {
    max-width: 225px;
}
.footer-font {
    font-size: 16px;
}
.footer-single-container {
    display: flex;
    flex-direction: column;
    height: 125px;
    justify-content: space-between;
    margin-top: 54px;
}
.subscription-email {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 10px;
}
.subscription-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.subscription-btn {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    width: 100px;
    background: none;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
}
.subscription-btn:hover {
    background-color: rgb(235, 233, 233);
}
.footer-social {
    display: flex;
    list-style-type: none;
    gap: 15px;
}
.horizontal-line {
    height: 2px;
    width: 100%;
    background-color: black;
    margin-top: 5px;
}
.footer-rights {
    margin-bottom: 10px;
}
#footer-items a {
    color: black;
    text-decoration: none;
}
/* @media (min-width: 768px) and (max-width: 1023px) { 
    #footer-items {
        flex-wrap: wrap;
        justify-content: center;
    }
} */
@media (max-width: 767px) {
    #footer-items {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    .footer-single-container  {
        text-align: center;
    }
    .footer-rights {
        text-align: center;
    }
}