.processTitle {
  text-align: center;
  margin-bottom: 30px;
}

.processContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 15fr 13fr;
  gap: 50px;
  flex-direction: row; /* Puts elements side by side on larger screens */
  justify-content: center;
  align-items: start;
}
.processContactUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 20px;
}
.processContactUsContainer h3 {
  margin-top: 150px;
  font-size: x-large;
}
.contactUs {
  width: 140px;
}

.icons {
  width: 40px;
}

.stepsAndIconContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 25px; /* Space between icons and steps */
}

.stepsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.processIconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px; /* Space between each icon and line */
}

.line {
  width: 2px;
  height: 50px; /* Adjust the height to match the gap between steps */
  background-color: #000;
}

@media (max-width: 768px) {
  .processContainer {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: start;
  }

  .processContactUsContainer {
    align-items: center;
    max-width: 400px;
  }

  .line {
    width: 2px;
    height: 50px; /* Adjust the height to match the gap between steps */
    background-color: #000;
  }
}
