.processTitle {
  text-align: center;
  font-size: 36px;
  line-height: 150%;
  margin-bottom: 20px;
}

.processContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
}
.processContactUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.processContactUsContainer h3 {
  text-align: center;
  font-size: 30px;
  line-height: 150%;
}
.contactUs {
  display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #000;
    background: var(--Black, #000);
    color: white;
}

.icons {
  width: 40px;
}

.stepsAndIconContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 50px; /* Space between icons and steps */
  height: 100%;
}

.stepsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.processIconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px; /* Space between each icon and line */
}

.line {
  width: 2px;

  height: 65px; /* Adjust the height to match the gap between steps */
  background-color: #000;
}
.stepsTitle {
  margin-bottom: 15px;
}

@media (max-width: 724px) {
  .processContainer {
    flex-direction: column;
  }
  .stepsContainer {
    gap: 20px;
  }
  .line {
    height: 100%;
  }
  .stepsTitle {
    margin-bottom: 10px;
  }
}
