/* After the hero image */
  

.after-hero-comp{
  grid-row: 2;
  display: flex;
  justify-content: space-around;
  max-width: 1900px;
  margin: auto;
  width: 100%;
}

.unique-nails-designs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 65px 0;
  }
  
  .learn-more-button{
    margin: auto;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #000;
    background-color: transparent;
  }

.unique-nails-designs h2{
  width: 610px;
  color: var(--Black, #000);
text-align: center;
/* Heading/H2 */
font-family: Roboto;
font-style: normal;
font-size: 48px;
font-weight: 700;
line-height: 120%; /* 57.6px */
}

.unique-nails-designs p{
  width: 612px;
flex-shrink: 0;
  color: var(--Black, #000);
/* Text/Large/Normal */
font-family: Roboto;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
}
  .unique-nails-designs-image{
    width: 40%;
    padding: 5px;
    display: flex;
    justify-content: center;
    /* grid-row: 2; */
    }
  
    .unique-nails-designs-image img{
      width: fit-content;
      max-width: 100%;
    }


    @media screen and (min-width:1100px) {
      .after-hero-comp{
        width: 1100px;
        margin: auto;
      }
    .unique-nails-designs h2{
      border: none;
      width: 610px;
      color: var(--Black, #000);
text-align: center;

/* Heading/H2 */
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 57.6px */
    }
    .unique-nails-designs p{
      width: 612px;
      color: var(--Black, #000);

/* Text/Large/Normal */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
    }
    }

    @media screen and (min-width: 768px) and (max-width:1099px){
      .after-hero-comp{
      margin: auto;
      flex-direction: column;
      align-items: center;
      width: 768px;
      }
    }

    @media all and (max-width:767px) {
      .after-hero-comp{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 311px;
      }
      .after-hero-comp h2{
        color: var(--Black, #000);
text-align: center;

/* Heading/H4 - Mobile */
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 33.6px */
border: none;
width: 311px;
      }
    .after-hero-comp p{
      color: var(--Black, #000);
      width: 311px;
/* Text/Regular/Normal */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
    }
    .unique-nails-designs-image{
      width: 311px;
height: 311px;
flex-shrink: 0;
    }
    }
