#employeeSection {
    padding: 20px;
    text-align: center;
  }

  .employeeMainContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .employeeImg {
    width: 230px; 
    border-radius: 50%;
    margin: auto;
  }
  
  .employeeContainer {
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {

    .employeeMainContainer {
      display: grid;
      grid-template-columns: 1fr;
    }
  }