#employeeSection {
    text-align: center;
  }
  #employeeSection p {
    margin-top: 10px;
  }
.teamTitle {
  font-size: 36px;
  line-height: 150%;
}
  .employeeMainContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .employeeImg {
    width: 200px; 
    border-radius: 50%;
    margin: auto;
  }
  
  .employeeContainer {
    margin: 25px 0;
  }
  .employeeTitle {
    margin-top: 10px;
  }

  @media (max-width: 768px) {

    .employeeMainContainer {
      display: grid;
      grid-template-columns: 1fr;
    }
    .about-us, .processTitle, .teamTitle {
      font-size: 32px;
    }
    .processContactUsContainer h3 {
      font-size: 28px;
    }
  }