.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    margin:20px;
    margin: auto;
  }
  
  
  @media (max-width: 767px) {
    .contact-container{
      grid-template-columns: 1fr;
      justify-content: center; 
      max-width: 400px;
    }
    
  }

  .contact-container .google-map-container {
    grid-column: 1 / -1; 
  }