#manicure{ 
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
}
.mani-title {
  text-align: center;
  font-size: 48px;
  line-height: 150%;
  border-bottom: 1px solid black;
}
.mani-description {
  line-height: 150%;
  height: 162px;
}
.category-title {
  text-align: left;
  font-size: 28px;
  line-height: 150%;
}
.mani-service {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 0;
}
.service-details {
  display: flex;
  flex-direction: column;
  text-align: right;
}
@media (max-width: 900px) {
  .mani-description {
    height: auto;
    text-align: left;
  }

}
@media (max-width: 824px) {
  #manicure {
    width: 100%;
  }
  .mani-title {
    font-size: 32px;
  }
}

@media (max-width: 700px) {
  .mani-title {
    font-size: 30px;
  }

  .category-title {
    font-size: 24px;
  }
}