.manicure-services-section {

  text-align: center; 
}

.maniServices-and-prices{
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}


.service-category {
  margin-bottom: 20px;
}

.services-list {
  list-style: none;
  padding: 0;
}


.services-description{
  margin: 25px auto 0 auto;
  margin-bottom: 26px;
  width: 311px;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-align: left;
}

.service-details{
  display: flex;
  flex-direction: column;
  align-items: end;
}