#aboutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}


.aboutContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 20px;
  width: 100%;
}

.who-we-are-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* Allow items to wrap to the next line on smaller screens */
  align-items: center;
  gap: 50px;
  height: 100%;
}

.ownersImg {
  width: 100%;
  /* Set image width to 100% initially */
  height: 60%;
  object-fit: cover;
  /* To maintain aspect ratio */
  border-radius: 8px;
}
