#aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 20px; /* Added padding for all screen sizes */
}

.whoWeAreContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
}

.aboutContent {
 
  margin-bottom: 20px; /* Space between the text and image on smaller screens */
}

.ownersImg {
  max-width: 100%;
  height: auto; /* To maintain aspect ratio */
}

@media (max-width: 768px) {
  .whoWeAreContainer {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    align-items: center; 
  }
  
  .aboutContent {
    max-width: 600px;
  }

  .ownersImg {
    max-width: 300px;
  }
}
