#ctaOne {
  background-image: url('../../assets/CoverImages/pexels-rheza-aulia-3375210.jpg'); 
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center; /* Center the text */
  position: relative; /* For overlay positioning */
}



.ctaTitle {
  font-size: 2rem; /* Adjust the size as needed */
  font-weight: bold; /* Optional: if you want the title to stand out */
  margin-bottom: 0.5rem; /* Adjust the space below the title */
}

.callButtons {
  display: flex;
  gap: 10px; /* Adjust the space between buttons */
}

.contactUs,
.learnMore {
  border: none; /* Remove default border */
  padding: 10px 20px; /* Adjust padding as needed */
  color: white; /* Text color */
  background-color: #000; /* Adjust button background color as needed */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.contactUs:hover,
.learnMore:hover {
  background-color: #555; /* Darken button background on hover */
}

/* Add media query for larger screens if you want to adjust layout or styles */
@media (min-width: 768px) {
  /* Adjust styles for larger screens */
  #ctaOne {
    width: 100%;
    height: 350px;
  }

  .ctaTitle {
    font-size: 2.5rem; /* Increase font size for larger screens */
  }

}
